@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column" style="width: 250px; font-size: 1.1rem;">
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="bi bi-person-circle me-2"></i>Profile
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="bi bi-envelope-fill me-2"></i>Email
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-lock-fill me-2"></i>Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item mb-2">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                <i class="bi bi-box-arrow-in-right me-2"></i>External logins
            </a>
        </li>
    }
    <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-lock-fill me-2"></i>Two-factor authentication
        </a>
    </li>
@*     <li class="nav-item mb-2">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            <i class="bi bi-file-earmark-person-fill me-2"></i>Personal data
        </a>
    </li> *@
    <li class="nav-item mb-2">
        <a class="nav-link" href="/UserOrder/UserOrders">
            <i class="bi bi-bag-fill me-2"></i>My Orders
        </a>
    </li>
</ul>
